@model ViewModels._BaseViewModel

<div class="whatsapp">
	<a href="https://api.whatsapp.com/send?phone=@Model.WhatsappInfo.Summery&amp;text=سلام روزبخیر">
		<img src="@Model.WhatsappInfo.ImageUrl">
	</a>
</div>

<footer id="footer" class="footer footer-1">
	<div class="footer-widget">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-about">
					<div class="footer--widget-title">
						<h5>@Resources.Label.AboutProsha</h5>
					</div>
					<div class="footer--widget-content">
						<p>@Html.Raw(Model.FooterAbout)</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-certificate">
					<div class="row">
						<div class="col-xs-6">
							<div style="background-color: #fff">
								<a target="_blank" href="https://trustseal.enamad.ir/?id=165620&amp;Code=jbZSs7ipNXx4ka2PRfns"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=165620&amp;Code=jbZSs7ipNXx4ka2PRfns" alt="" style="cursor: pointer" id="jbZSs7ipNXx4ka2PRfns"></a>
							</div>
						</div>
						<div class="col-xs-6">
							<div style="background-color: #fff">
								<img id='jxlzjzpergvjesgtwlaonbqe' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=173042&p=rfthjyoexlaoobpdaodsuiwk", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=173042&p=nbpdyndtqftilymashwlodrf' />
						</div>
						</div>
					</div> 
					
					<div class="row">
						<div class="col-xs-6">
							<div style="background-color: #fff">
								<img src="~/assets/images/logo-anjooman-senfi.jpg" />
							</div>
						</div>
						</div>
				</div> 
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-recent">
					<div class="footer--widget-title">
						<h5>@Resources.Label.LatestArticles</h5>
					</div>
					<div class="footer--widget-content">

						@foreach (var blog in Model.FooterLatestBlog)
						{
							<div class="entry">
								<div class="entry--meta">@blog.CreationDateStr</div>
								<div class="entry--title">
									<a href="/blog/@blog.UrlParam">@blog.TitleSrt</a>
								</div>
							</div>
						}

					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-newsletter">
					<div class="footer--widget-title">
						<h5>@Resources.Label.UpDate</h5>
					</div>
					<div class="footer--widget-content">
						<p>@Resources.Label.SubscribeNewsletter</p>
						<form class="form-newsletter">
							<input type="email" name="email" class="form-control" placeholder="@Resources.Label.RegisterEmail">
							<button type="submit"><i class="fa fa-long-arrow-left"></i></button>
						</form>
						<div class="clearfix"></div>


						<ul class="list-unstyled">
							<li><span>@Resources.Label.Phone:</span>@Model.FooterPhone </li>
							<li><span>@Resources.Label.Email:</span>@Model.FooterEmail</li>
							<li><span>@Resources.Label.Address:</span>@Model.FooterAddress</li>
						</ul>

						<div class="social">
							@foreach (var item in Model.SocialText)
							{
									<a class="share-@item.Title" href="@item.Summery"><i class="fa fa-@item.Title"></i></a>

							}
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 
	<div class="footer--bar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer--copyright">
						<span>@Resources.Label.DevelopByZavosh </span> <a href="https://zavoshsoftware.com/page/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D9%88%D8%A8-%D8%B3%D8%A7%DB%8C%D8%AA">@Resources.Label.Zavosh</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</footer>
