@model ViewModels.BlogDetailViewModel

@{
		ViewBag.Title = Model.Blog.TitleSrt;
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
<section id="page-title" class="page-title">
	<div class="container-fluid bg-overlay bg-overlay-dark">
		<div class="bg-section">
			<img src="@ViewBag.HeaderImage" alt="Background" />
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="title title-1 text--center">
					<div class="title--content">
						<div class="title--heading">
							<h1>@Model.Blog.TitleSrt</h1>
						</div>
					</div>
					<div class="clearfix"></div>
					<ol class="breadcrumb">
						<li><a href="/">@Resources.Label.Home</a></li>
						<li><a href="/blog">@Resources.Label.BlogContentList</a></li>
						<li class="active">@Model.Blog.TitleSrt</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="blog" class="blog blog-single">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-9">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="#">
							<img src="@Model.Blog.ImageUrl" alt="@Model.Blog.TitleSrt" />
						</a>

					</div>
					<div class="entry--meta">
						<span>@Model.Blog.CreationDate</span> / <span>@Resources.Label.Comment <a href="#">@Model.CommentCount</a></span> /
						<span>@Resources.Label.Visit <a href="#">@Model.Blog.Visit</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="#">@Model.Blog.TitleSrt</a></h4>
					</div>
					<div class="entry--content">
						@Html.Raw(Model.Blog.BodySrt)
					</div>
					<div class="entry--share">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6">
								<h5 class="share--title">@Resources.Label.ShareArticle </h5>
							</div>
							<!-- .col-md-6 end -->
							<div class="col-xs-12 col-sm-12 col-md-6 pull-right text-right">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>
				</div>


				<div class="entry-widget entry-related clearfix">
					<div class="entry-widget-title">
						<h4>@Resources.Label.SuggestedArticles</h4>
						<div class="divider--line">
							<i class="divider divider--1"></i>
							<i class="divider divider--2"></i>
							<i class="divider divider--3"></i>
							<i class="divider divider--4"></i>
						</div>
					</div>
					<div class="entry-widget-content">
						<div class="row">

							@foreach (var blog in Model.RelateBlogs)
							{
									<div class="col-xs-12 col-sm-4 col-md-4 entry">
										<div class="entry--img">
											<a href="#">
												<img src="@blog.ImageUrl" alt="@blog.TitleSrt" />
											</a>

										</div>
										<div class="entry--title">
											<h5><a href="/blog/@blog.UrlParam">@blog.TitleSrt</a></h5>
										</div>
										<div class="entry--meta">
											<span>@blog.CreationDateStr</span>
										</div>
									</div>
							}


						</div>
					</div>
				</div>



				<div class="entry-widget entry-comments clearfix">
					<div class="entry-widget-title">
						<h4>@Model.CommentCount @Resources.Label.Comment</h4>
						<div class="divider--line">
							<i class="divider divider--1"></i>
							<i class="divider divider--2"></i>
							<i class="divider divider--3"></i>
							<i class="divider divider--4"></i>
						</div>
					</div>
					<div class="entry-widget-content">
						<ul class="comments-list">

							@foreach (var comment in Model.Comments)
							{

									<li class="comment-body">
										<div class="avatar">
											<img src="/assets/images/avatar.png" alt="avatar" />
										</div>
										<div class="comment">
											<h6>@comment.Name</h6>
											<div class="date">@comment.CreationDateStr</div>
											<p>@comment.Message</p>
										</div>
										@if (!string.IsNullOrEmpty(comment.Response))
										{
												<ul class="comment-children">
													<li class="comment-body">
														<div class="avatar">
															<img src="/assets/images/avatar.jpg" alt="avatar" />
														</div>
														<div class="comment">
															<h6>Topcasterone</h6>
															<div class="date">@comment.CreationDateStr</div>
															<p>@comment.Response</p>
														</div>

													</li>
												</ul>
}
									</li>
							}
						</ul>
					</div>
				</div>

				<div class="entry-widget entry-add-comment mb-0 clearfix">
					<div class="entry-widget-title">
						<h4>@Resources.Label.SubmitComment</h4>
						<div class="divider--line">
							<i class="divider divider--1"></i>
							<i class="divider divider--2"></i>
							<i class="divider divider--3"></i>
							<i class="divider divider--4"></i>
						</div>
					</div>
					<div class="entry-widget-content">
						<div id="post-comment" class="mb-0">
							<div class="row">
								<div class="alert alert-success" id="comment-succes">@Resources.Label.SuccessSubmitComment</div>
								<div class="alert alert-danger" id="comment-reject"></div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<input type="text" class="form-control" id="commentName" placeholder="*@Resources.Label.FirstName @Resources.Label.LastName" />
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<input type="text" class="form-control" id="commentEmail" placeholder="@Resources.Label.Email*" />
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12">
									<textarea class="form-control" id="commentBody" rows="2" placeholder="@Resources.Label.YourComment*"></textarea>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<button type="button" onclick="SubmitCommentForBlog();" class="btn btn--primary btn--block">@Resources.Label.SubmitComment</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- .col-md-9 end -->
			<div class="col-xs-12 col-sm-12 col-md-3 blog-widget">

				
				<div class="widget widget-categories">
					<div class="widget--title">
						<h5>@Resources.Label.OtherProducts</h5>
					</div>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
					<div class="widget--content">
						<ul class="list-unstyled">
							@foreach (var product in Model.SidebarProducts)
							{
									<li>
										<a href="/product/@product.UrlParam"><i class="fa fa-arrow-left"></i> @product.TitleSrt</a>
									</li>
							}

						</ul>
					</div>
				</div>

				<div class="widget widget-recent-products">
					<div class="widget--title">
						<h5>@Resources.Label.LatestArticles</h5>
					</div>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
					<div class="widget--content">
						@foreach (var blog in Model.SidebarLatestBlog)
						{
								<div class="product clearfix">
									<img src="@blog.ImageUrl" alt="@blog.TitleSrt" width="70px" />
									<div class="product-desc">
										<div class="product-title">
											<a href="/blog/@blog.UrlParam">@blog.TitleSrt</a>
										</div>
										<div class="product-meta">
											<span>@blog.CreationDateStr</span>
										</div>
									</div>
								</div>
						}
					</div>

				</div>
				<div class="widget widget-tags">
					<div class="widget--title">
						<h5>@Resources.Label.SpecialProduct</h5>
					</div>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
					<div class="widget--content">
						<a href="/product/pos-software">
							<img src="~/assets/images/top-product.jpeg" class="img-responsive" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section scripts
{
	<script src="~/Scripts/custom.js"></script>
}
